{{ define "main" }}
<div class="container">
<div class="jumbotron py-5">
  <div class="row">
    <div class="col-md-4">
      <h1 class="display-4" style="color: #005cbf">MetPod Engineering</h1>
      <p class="lead">Meteorological calculators - Automatic Weather Station design - Sensor interfacing</p>
<!--      <p>There's also other things that are super nice</p>-->
    </div>

    <div class="col-md-8 p-1">
      <img class="card-img rounded" src="/images/about_img.jpeg" alt="MetPod Home">
    </div>
  </div>
</div>
</div>

<div class="container">
    <div class="row">
    <div class="col-md-9 card-text px-4">
        <p>
            Here you will find some details about automatic weather station (AWS)
            design based on a Raspberry Pi micro processor acting as an 'internet of things (IoT)' device and running in
            a docker container hosted on Balena OS embedded operating system.
            The design shown here can accommodate various types of professional sensors. Data is sent to the cloud
            (AWS IoT) as well as to other online services and you can view this data under the 'Live weather' page.
        </p>
        <p>
            Within the website you will also find a selection of tools for calculating various atmospheric diagnostics and I
            hope you find them useful. If you have any suggestions for additional calculations please let me know.
        </p>
        <p>
            Meteorology is an exciting and broad ranging environment, it includes work in the engineering, software
            development and scientific research fields and directly impacts many aspects of modern life. If you'd like to
            find out more I would suggest looking at the website of the <a href="https://www.rmets.org">Royal
            Meteorological Society.</a>
        </p>
        <br>
        <p>Mark Baker FRMetS RMet
        <br>MetPod Engineering</p>

        <br>
        <blockquote>
            <p><i>To know the laws that govern the winds, and to know that you know them,<br>
                will give you an easy mind on your voyage round the world, otherwise you<br>
                may tremble at the appearance of every cloud.</i></p>
            <footer>Joshua Slocum - Sailing alone around the world (1900)</footer>
        </blockquote>
        <br><br>
    </div>
    <div class="col-md-3">
        <img class="card-img rounded" src="/images/metpod_hardware.jpeg" alt="MetPod Home">

    </div>
    </div>



</div>





{{ end }}

